name: "Tests"

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:

  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      # NOTE: when updating the matrix below, be sure to keep OS and
      # Python versions in sync with the ones in build.yml.
      matrix:
        os:
          - "macos-11"
          - "ubuntu-22.04"
          - "windows-2022"
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "pypy-3.7"
          - "pypy-3.8"
          - "pypy-3.9"

    steps:

      - name: Check out zfec sources
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # caching pip dependencies
          cache-dependency-path: 'setup.py'

      - name: "Run Python test suite"
        run: |
          pip install .[test]
          trial zfec

      - name: "Install Nix"
        if: ${{ runner.os == "Linux" }}
      - name: "Run Haskell test suite"
        if: ${{ runner.os == "Linux" }}
        run: |
          nix build --print-build-logs
