name: Run tests

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-10.15
          - ubuntu-latest
          - windows-latest
        python-version:
          - 3.7
          - 3.8
          - pypy3

    steps:

      - name: Check out zfec sources
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python packages
        run: |
          pip install --upgrade tox setuptools
          pip list

      - name: Run "tox -e py"
        run: tox -e py
